@Model IntialQuestionsViewModel 
@{
    ViewBag.Title = "Initial Questions";
    Layout = "_Layout";
}

<h2>Initial Questions</h2>

@Html.TextBoxFor("StudentName", null, new { @class = "form-control" })  