@model TeamTeaRexCovid19.Web.Models.InitialQuestionsViewModel
@{
    ViewBag.Title = "Initial Questions";
    Layout = "_Layout";
}

<h2>Initial Questions</h2>
<hr />
<form method="post">
    @(Html.Hidden("UserId"))
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="SelectedProvince"></label>
        @Html.DropDownListFor(m => m.SelectedProvince, new List<SelectListItem>() { new SelectListItem() { Text = "Western Cape".ToUpper(), Value = "Western Cape".ToUpper() }, new SelectListItem() { Text = "Eastern Cape".ToUpper(), Value = "Eastern Cape".ToUpper() }, new SelectListItem() { Text = "Northern Cape".ToUpper(), Value = "Northern Cape".ToUpper() }, new SelectListItem() { Text = "North West".ToUpper(), Value = "North West".ToUpper() }, new SelectListItem() { Text = "Free State".ToUpper(), Value = "Free State".ToUpper() }, new SelectListItem() { Text = "KwaZulu Natal".ToUpper(), Value = "KwaZulu Natal".ToUpper() }, new SelectListItem() { Text = "Gauteng".ToUpper(), Value = "Gauteng".ToUpper() }, new SelectListItem() { Text = "Limpopo".ToUpper(), Value = "Limpopo".ToUpper() }, new SelectListItem() { Text = "Mpumlanga".ToUpper(), Value = "Mpumlanga".ToUpper() } })
        <span asp-validation-for="SelectedProvince"></span>
    </div>
    <br />
    <div>
        <label asp-for="Suburb"></label>
        <input asp-for="Suburb" />
        <span asp-validation-for="Suburb"></span>
    </div>
    <br />
    <div>
        <label>
            <label asp-for="SelectedAgeGroup"></label>
            @Html.DropDownListFor(m => m.SelectedAgeGroup, new List<SelectListItem>() { new SelectListItem() { Text = "18-24", Value = "18-24" }, new SelectListItem() { Text = "25-34", Value = "25-34" }, new SelectListItem() { Text = "35-44", Value = "35-44" }, new SelectListItem() { Text = "45-54", Value = "45-54" }, new SelectListItem() { Text = "55-64", Value = "55-64" }, new SelectListItem() { Text = "65 and over", Value = "65+" } })
        </label>
    </div>
    <br />
    <div>
        <label asp-for="IsSmoker">
            Do you smoke?
        </label>
        <br />
        Yes
        <input type="radio" name="IsSmoker" value="true" />
        No
        <input type="radio" name="IsSmoker" value="false" checked="checked" />
    </div>
    <br />
    <div>
        <label asp-for="IsDrinker">
            Do you drink?
        </label>
        <br />
        Yes
        <input type="radio" name="IsDrinker" value="true" />
        No
        <input type="radio" name="IsDrinker" value="false" checked="checked" />
    </div>
    <br />
    <div>
        <label asp-for="DoesShareLivingSpace"></label>
        <input asp-for="DoesShareLivingSpace" value="0" />
        <span asp-validation-for="DoesShareLivingSpace"></span>
    </div>
    <br />
    <div>
        <label>
            <label asp-for="TransportType"></label>
            @Html.DropDownListFor(m => m.TransportType, new List<SelectListItem>() { new SelectListItem() { Text = "Public", Value = "Public" }, new SelectListItem() { Text = "Private", Value = "Private" } })
        </label>
    </div>
    <br />
    <div>
        <input type="submit" name="Submit" value="Submit" asp-action="InitialQuestions" />
    </div>
</form>

<script>
    new function () {
        var splitCookies = document.cookie.split(';');
        console.log('splitCookies', splitCookies);
        splitCookies.forEach(cookie => {
            if (cookie.includes('.Current')) {
                var userId = cookie.split('=')[1].split('.')[0];
                document.getElementById("UserId").value = userId;
            }
        });
    }();
</script>