
@{
    ViewData["Title"] = "Validation";
}

<h2>Validation</h2>
<hr />
<form method="post">
    <p>Please make sure that you have entered data in all fields.</p>
    <br />
    <input type="submit" name="Continue" value="Continue" asp-action="Index" />
</form>
