
@{
    ViewData["Title"] = " User Login";
}

<h1>Welcome !!</h1>

<form method="post">
    <div>
        <label>Enter name:</label>
        @Html.TextBox("username", null)
    </div>
    <div>
        <input type="submit" name="Login" value="Login"/>
    </div>
</form>
