
@{
    ViewData["Title"] = " User Login";
}

<h1>Welcome !!</h1>

<form method="post">
    <div>
        <label>Enter name:</label>
        @Html.TextBox("username", null)
        @(Html.Hidden("userId"))
        @(Html.Hidden("isReturningUser"))
    </div>
    <div>
        <input type="submit" id="login" name="Login" value="Login" />
    </div>
</form>

<script>
    document.getElementById("login").addEventListener("click", function () {
        var username = document.getElementById("username").value;

        var userId = '';
        var cookieFound = false;

        if (document.cookie) {
            var splitCookies = document.cookie.split(';');

            splitCookies.forEach(cookie => {
                var cookieValue;
                var storedUserIdWithFlag = cookie.split('=')[1];

                if (storedUserIdWithFlag) {
                    var storedUserId = storedUserIdWithFlag.split('.')[0];
                    var cookieUsername = cookie.split('=')[0].trim();

                    if (cookieUsername.toLowerCase() === username.toLowerCase()) {
                        userId = storedUserId;
                        cookieValue = userId + '.' + 'Current';
                        cookieFound = true;
                        document.getElementById("isReturningUser").value = true;
                    } else {
                        cookieValue = storedUserId;
                    }

                    setCookie(cookieUsername, cookieValue);
                }
            });
        }

        if (!cookieFound) {
            userId = createGuid();
            var currentUserId = userId + '.' + 'Current';
            setCookie(username, currentUserId);
        }
        document.getElementById("userId").value = userId;
    });

    function createGuid() {
        return "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx".replace(/[x]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c === "x" ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }

    function setCookie(name, userId) {
        var expiration_date = new Date();
        expiration_date.setFullYear(expiration_date.getFullYear() + 1);
        document.cookie = name + "=" + userId + ";expires=" + expiration_date.toUTCString();
    }
</script>