
@{
    ViewData["Title"] = "Reminder";
}

<h1>Reminder</h1>

<p>Thank you for answering and providing feedback on the daily questions.</p>
<br/>
<p>Please don't forget to come back tomorrow and fill in the questions again.</p>