@model TeamTeaRexCovid19.Web.Models.DailyQuestionsViewModel

@{
    ViewData["Title"] = "Daily Questions";
    Layout = "_Layout";
}

<h2>Daily Questions</h2>
<hr />
<form method="post">
    @(Html.Hidden("UserId"))
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="PeopleInteractedWith">
            How many people outside of your immediate family have you interacted with today?
        </label>

        @Html.DropDownListFor(x => x.PeopleInteractedWith, new List<SelectListItem> { new SelectListItem() { Text = "0", Value = "0" }, new SelectListItem() { Text = "1-5", Value = "1-5" }, new SelectListItem() { Text = "6-10", Value = "6-10" }, new SelectListItem() { Text = "11-15", Value = "11-15" }, new SelectListItem() { Text = "16+", Value = "16+" } })
    </div>
    <br />

    <div>
        <label asp-for="IsFever">
            Do you have a fever?
        </label>
        <br />
        Yes
        <input type="radio" name="IsFever" value="true" />
        No
        <input type="radio" name="IsFever" value="false" checked="checked" />
    </div>
    <br />
    <div>

        <label asp-for="IsPersistentCough">
            Do you have a persistent cough?
        </label>
        <br />
        Yes
        <input type="radio" name="IsPersistentCough" value="true" />
        No
        <input type="radio" name="IsPersistentCough" value="false" checked="checked" />

    </div>
    <br />
    <div>
        <label asp-for="IsUnusualFatigue">
            Are you experiencing unusual fatigue?
        </label>
        <br />
        Yes
        <input type="radio" name="IsUnusualFatigue" value="true" />
        No
        <input type="radio" name="IsUnusualFatigue" value="false" checked="checked" />
    </div>
    <br />
    <div>
        <label asp-for="IsEatAnything">
            Have you been able to eat anything?
        </label>
        <br />
        Yes
        <input type="radio" name="IsEatAnything" value="true" />
        No
        <input type="radio" name="IsEatAnything" value="false" checked="checked" />

    </div>
    <br />
    <div>
        <label asp-for="FeelNormalRightNow">
            How do you feel right now?
        </label>
        <br />
        I feel healthy as normal
        <input type="radio" name="FeelNormalRightNow" value="true" />
        I'm not feeling quite right
        <input type="radio" name="FeelNormalRightNow" value="false" checked="checked" />

    </div>
    <br />
    <div>
        <label asp-for="IsLeaveHomeToday">
            Did you leave home today?
        </label>
        <br />
        Yes
        <input type="radio" name="IsLeaveHomeToday" value="true" />
        No
        <input type="radio" name="IsLeaveHomeToday" value="false" checked="checked" />
    </div>
    <br />
    <div>
        <label asp-for="Treatment">
            What treatment are you receiving?
        </label>

        @Html.DropDownListFor(x => x.Treatment, new List<SelectListItem> { new SelectListItem() { Text = "TB", Value = "TB" }, new SelectListItem() { Text = "Asthma", Value = "Asthma" }, new SelectListItem() { Text = "Diabetes", Value = "Diabetes" }, new SelectListItem() { Text = "Pneumonia", Value = "Pneumonia" }, new SelectListItem() { Text = "Other", Value = "Other" } })
    </div>
    <br />
    <div>
        <input type="submit" name="Submit" value="Submit" asp-action="SubmitDailyQuestions" />
    </div>
</form>

<script>
    new function () {
        var splitCookies = document.cookie.split(';');
        console.log('splitCookies', splitCookies);
        splitCookies.forEach(cookie => {
            if (cookie.includes('.Current')) {
                var userId = cookie.split('=')[1].split('.')[0];
                document.getElementById("UserId").value = userId;
            }
        });
    }();
</script>